.header-container  {
    display: flex;
    border-bottom: 1px solid #424242;
    position: fixed;
    top: 0;
    z-index: 10;
    background-color: white;
    width: 100%;
    padding-left: 20px;
 }

.heading {
    color: black;
    margin-right: 100px;
    cursor: pointer;
}

.heading-text {
    background: linear-gradient(135deg, rgb(5, 5, 5) 0%, rgb(69, 71, 73) 100%);
    -webkit-background-clip: text;
    color: transparent;
    vertical-align: bottom;
}

.search {
    margin: auto;
    display: flex;
}

.search-input {
    width: 350px;
    padding: 10px;
    border-radius: 7px;
}

.search-icon {
    height: 30px;
    width:  30px;
    margin-left: -40px;
    margin-top: 8px;
}

